<div class={{this.styleNamespace}}>
  <MovieListHeader />


  <MovieList 
    @movies={{this.filteredMovies}} 
    @onSelectMovie={{this.selectMovie}}
  />

  <AddMovieForm 
    @loadMovies={{this.loadMovies}} 
    @movie={{this.selectedMovie}} 
    @editMode={{this.isEditMode}} 
    @reset={{this.reset}} 
  />
</div>