<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <MovieSearch 
    @searchText={{this.searchText}}
    @onSearch={{this.filterMovies}}
  />

  <MovieList 
    @movies={{this.filteredMovies}} 
    @onSelectMovie={{this.selectMovie}}
  />

  <AddMovieForm 
    @loadMovies={{this.loadMovies}} 
    @movie={{this.selectedMovie}} 
    @editMode={{this.isEditMode}} 
    @reset={{this.reset}} 
  />
</div>